{% extends 'core/base.html' %}


{% block title %}Contacto {% endblock %}

{% block background %}{% load static %} {% static 'core/img/contact.jpg' %} {% endblock %}

{% block headers %}
<h1>Contactanos</h1>
<span class="subheading">Servicio y asistencia 24x7</span>
{% endblock %}

{% block content %} 
<div class="col-lg-8 col-md-10 mx-auto">

    <p><b>Teléfono:</b> +54 11 5743 3434</p> <br>
    <p><b>Mail:</b> info@consultora.django.com.ar</p> <br>

    <p><b>¿Por qué elegirnos?</b> <br></p>

    <p>    Somos más que consultores; somos socios estratégicos comprometidos con tu éxito a largo plazo. Desde nuestra fundación en 2022, hemos estado transformando la manera en que las empresas gestionan riesgos, toman decisiones estratégicas y optimizan sus operaciones.
    </p> <br>  
    <p><b>Lo que ofrecemos:</b></p><br>    
        
    <p><b>Gestión Integral de Riesgos:</b> Desarrollamos estrategias adaptativas para mantener tu empresa segura en cualquier escenario.
    </p>   
     <p><b>Consultoría de Datos:</b>    Transformamos datos en conocimientos significativos, proporcionando una ventaja competitiva a través de decisiones informadas.
     </p> 
     <p><b>Proyecciones Financieras y Modelado Empresarial:</b>    Ayudamos a visualizar y planificar el éxito financiero con proyecciones sólidas y modelos empresariales efectivos.
     </p> 
      <p><b>Consultoría Estratégica de Negocios:</b>   Desde la concepción de ideas hasta la ejecución, colaboramos contigo para optimizar tu estrategia empresarial.
      </p>
      <p><b> Seguros y Protección Empresarial:</b>  Ofrecemos asesoramiento experto para proteger tus activos y garantizar la continuidad del negocio.
      </p> <br>
       <strong> ¿Listo para un Futuro Empresarial más Seguro y Exitoso?</strong>
        
        <p>En Consultora Django, no solo resolvemos problemas, creamos soluciones que impulsan tu crecimiento. ¡Conviértete en parte de nuestro éxito y permítenos guiar tu empresa hacia nuevas alturas! Contáctanos hoy para una consulta personalizada.
        
        </p>
    <br>
</div>
{% endblock %}